spring:
  security:
    oauth2:
      client:
        registration:
          cognito:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            scope: openid
#            redirect-uri: "https://ogata-cognito.handson.toro.toyota/login/oauth2/code/cognito"
            redirect-uri: "{baseUrl}/login/oauth2/code/cognito"
            authorization-grant-type: authorization_code
        provider:
          cognito:
            issuer-uri: https://cognito-idp.ap-northeast-1.amazonaws.com/${COGNITO_USERPOOL_ID}
            authorization-uri: ${COGNITO_DOMAIN}/oauth2/authorize

environments:
  after-auth-redirect-url: "/"
  login-error-redirect-url: "/"